.btn-round {
    padding: $button-action-padding;
    border-radius: $button-action-border-radius;
}

.btn-round:hover {
    background-color: $button-hover-color;
}

.btn-switch {
    padding: 8px;
    border-radius: 12px;
}

.btn-hero {
    background-color: $blue-600;
    color: $blue-100;
}

.btn-hero-disabled,
.btn-hero,
.btn-hero:hover {
    @extend %button-style;
    height: 50px;
    width: 100%;
}

.btn-hero-disabled {
    cursor: default;
}

.btn-hero:hover {
    background-color: $blue-200;
    color: $blue-600;
}

.btn-meta {
    @include flex-display-column;
    align-items: center;
}
//navbar specific

.btn-navbar-div {
    background-color: $primary-color;
    border-radius: $button-action-border-radius;
    h4 {
        padding: $button-action-padding;
    }
}

.btn-navbar {
    padding: $button-action-padding;
    background-color: $primary-color;
    border-radius: $button-action-border-radius;
}

.btn-navbar-div:hover,
.btn-navbar:hover {
    cursor: pointer;
    background-color: $primary-color-faded;
}
