.short-post-hero-image-container {
    height: $small-post-image-height;
    width: 65%;
    text-align: center;
    justify-content: center;
}

.short-post-side-container {
    width: 35%;
    padding: 8px;
}
