.input-single {
    margin-top: 8px;
    margin-bottom: 8px;
}

.input-text {
    height: 32px;
    font-size: 20px;
    box-sizing: border-box;
}

.input-hero-search {
    height: $input-hero-search;
}

.input-slider {
    @include flex-display-column;
    height: 40px;
    justify-content: center;
    p {
        margin-top: 0px;
        margin-bottom: 4px;
    }
}
