.modal {
    z-index: 10;
    display: none;
    overflow: hidden;
}

#overlay {
    display: flex;
    position: fixed;
    z-index: $overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#background {
    @include flex-display-row;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.66);
    position: fixed;
}

#contentholder {
    display: contents;
    height: fit-content;
    width: fit-content;
}

#close {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 27;
    border-radius: 50%;
    background-color: $black-500;
    color: $black-100;
    height: 50px;
    width: 50px;
    text-align: center;
    img {
        height: 25px;
        width: 25px;
    }
}

.draft-window {
    background-color: white;
    z-index: $content-window;
    height: $small-post-draft-modal-height;
    width: $small-post-width;
    overflow: scroll;
    position: fixed;
}

.small-post-window {
    background-color: white;
    position: fixed;
    z-index: $content-window;
    height: $small-post-viewer-height;
    width: $small-post-width;
    overflow: scroll;
}

@media all and (max-width: 700px) {
    .close {
        right: 100px;
    }
}
