#comments-return {
    margin-left: 0;
}

.comments-button-disabled,
.comments-button,
.comments-button:hover {
    @extend %button-style;
}

.comments-button:hover {
    @include default-button-hover;
}

.comments-button-disabled {
    @include default-button-disabled;
}

.comments-extended-thread {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 0;
    border: none;
    background-color: transparent;
}

.comments-collapsed,
.comments-expanded {
    @include flex-display-column;
}

.comments-expanded {
    width: 60%;
    align-items: center;
    margin: auto;
    button {
        width: fit-content;
    }
}

.comments-expanded-input {
    width: 96%;
}

.comments-collapsed {
    width: 96%;
    padding: 2%;
    button {
        margin-left: auto;
        margin-right: 0;
    }
}
