#projectheader-pursuit {
    @include flex-display-row;
    justify-content: center;
    h5 {
        margin: 0;
    }
}

#projectheader-hero {
    text-align: center;
    h1 {
        margin-top: 10px;
    }
    h5 {
        margin: 0 auto;
    }
}

#projectheader-fork {
    @include flex-display-column;
    align-items: center;
    justify-content: center;
}

#projectheader-user-meta {
    @include flex-display-row;
    justify-content: center;

    a {
        @include flex-display-row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    img {
        @include tiny-profile-photo;
        border-radius: 50%;
        object-fit: cover;
    }
    h5 {
        @extend %username-link;
    }
}

#projectheader-cover {
    @include flex-display-row;
    justify-content: center;
    img {
        max-height: 500px;
        max-width: 100%;
    }
}

#projectheader-comparator {
    @include flex-display-row;
    justify-content: center;
}

#projectheader-button {
    @include flex-display-row;
    justify-content: center;
    margin-top: 25px;
}

#projectheader-close,
#projectheader-close:hover {
    @extend %button-style;
}
#projectheader-close:hover {
    @include default-button-hover;
}

#projectheader-previews {
    @include flex-display-row;
    flex-wrap: wrap;
}

#projectheader-selected {
    color: $blue-100;
    background-color: $blue-500;
}

.projectheader-other-button-disabled,
.projectheader-other-button {
    margin: auto 4px;
}
.projectheader-other-button-disabled,
.projectheader-other-button,
.projectheader-other-button:hover {
    @extend %button-style;
}

.projectheader-other-button:hover {
    @include default-button-hover;
}

.projectheader-other-button-disabled {
    @include default-button-disabled;
}
