#hiddenbuttons {
    @include flex-display-row;
    justify-content: center;
    margin: auto 0;
    z-index: $content-window;
    button,
    button:hover {
        @extend %button-style;
    }
    button:hover {
        @include default-button-hover;
    }
}

#hiddenbuttons-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: $overlay;
    top: 0;
    left: 0;
}

#hiddenbuttons-options {
    @include flex-display-column;
    margin-left: -40px;
    margin-top: -81px;
    position: absolute;
    z-index: 50;
    padding: 4px;
    background-color: $black-300;
    border-radius: 16px;
}

#hiddenbuttons-options-edit {
    margin-bottom: 4px;
}

#hiddenbuttons-options-remove {
}
