.singlecomment-threads {
    @include flex-display-row;
}

.singlecomment-thread-indicator {
    @include flex-display-row;
}

.singlecomment-thread-indicator-inner {
    background: grey;
    width: 3px;
    height: 100%;
    margin-left: 16px;
    margin-right: 5px;
}

.singlecomment-main {
    @include flex-display-column;
    width: 80%;

    pre {
        margin-top: 0;
    }
}

.singlecomment-header {
    @include flex-display-row;
    align-items: center;
}

.singlecomment-dp {
    @include flex-display-row;
    img {
        @include tiny-profile-photo;
        object-fit: cover;
        border-radius: 50%;
    }
    padding-right: 10px;
}

.singlecomment-annotation-indicator {
    font-size: 10px;
    font-style: italic;
}

.singlecomment-body {
    @include flex-display-row;
}

.singlecomment-management {
    @include flex-display-row;
    align-items: center;
    p {
        margin: 0 5px;
    }
    button,
    button:hover {
        @extend %button-style;
    }
}

.singlecomment-main {
}

.singlecomment-multiple-threads-container {
    width: auto;
}
