.relatedheader {
    margin: 96px 0 0 24px;

    h2,
    h3,
    p {
        margin: 0;
    }
}

#relatedheader-self-preview-blank {
    width: 256px;
    height: 192px;
}

#relatedheader-other-blank {
    background-color: $black-200;
}

#relatedheader-self-other {
    @include flex-display-row;
    margin-top: 32px;
}

#relatedheader-self {
    @include flex-display-column;
    width: 256px;
    min-width: 192px;
    margin-right: 32px;
}

#relatedheader-other {
    @include flex-display-column;
}

#relatedheader-self-preview {
    @include flex-display-row;
    height: 232px;
    align-items: center;
    h2 {
        margin: 8px 8px 12px 8px;
    }
    p {
        margin: 4px 8px 4px 8px;
    }
}
#relatedheader-self-preview-object {
    height: 192px;
    background-color: $black-100;
}

#relatedheader-index {
    text-align: center;
}

#relatedheader-index-blank {
    text-align: center;
    color: $black-200;
}

#relatedheader-blanks-theirs {
    @include flex-display-row;
    margin-left: 12px;
    margin-right: 12px;
}

.relatedheader-other-preview {
    @include flex-display-row;
    align-items: center;
    height: 232px; //because of padding it is less thatn 256
}

.relatedheader-other-preview-button,
.relatedheader-other-preview-button:hover {
    @extend %button-style;
}

.relatedheader-other-preview-button:hover {
    cursor: pointer;
}

.relatedheader-other-preview-button:disabled {
    color: $black-200;
    cursor: default;
}
.relatedheader-subtext {
    color: $black-500;
}

.relatedheader-blanks {
    background-color: $black-100;
    height: 192px;
    width: 256px;
}
