.similarprojectinfo {
    @include flex-display-column;
    justify-content: center;
    height: 64px;
    max-width: 384px;
    margin: 16px;
    padding: 12px;
    border-radius: 1px;
    background-color: $black-100;
    a,
    h4,
    p {
        margin: 0;
        color: $black-900;
    }
}

.similarprojectinfo-children {

}
