#shortreeditor-main {
  @include flex-display-row;
}

#shortreeditor-hero {
  margin: 0 auto;
  height: auto;
}

#shortreeditor-side {
  background-color: white;
}

.captionbuttons,
.captionbuttons:hover {
  @extend %button-style;
}

.captionbuttons:hover {
  @include default-button-hover;
}
