.results {
    @include flex-display-row;
    margin: 20px auto;
    background-color: gainsboro;
}

.results-profile {
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.results-image {
    @include flex-display-row;

    img {
        @include tiny-profile-photo;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
}

.results-name {
    text-align: center;
    margin: 0;
    color: black;
    text-decoration: none; /* no underline */

    h3 {
        margin: 0 auto;
        text-align: center;
    }
}

.results-stats {
    @include flex-display-column;
    h4,
    p {
        margin: 0;
    }
}

.results-post {
    @include flex-display-column;
}

.results-title {
    margin-left: 10px;
}

.results-post-preview {
    @include flex-display-row;
    width: fit-content;
}
