.spotlightpreview {
    min-width: 400px;
    padding: 50px;
    h4 {
        margin: 0 auto;
    }
}

.spotlightpreview-cover-final {
    img {
        height: auto;
        width: 100%;
        max-width: 400px;
    }
}

.spotlightpreview-cover-placeholder {
    height: 250px;
    width: 100%;
    background-color: lightgray;
}

.spotlightpreview-dp {
    @include flex-display-row;
    align-items: center;
    margin: 10px auto;
    margin-top: 30px;
    img {
        @include tiny-profile-photo;
        border-radius: 50%;
        object-fit: cover;
        margin: auto 5px;
        margin-right: 15px;
    }
}

.spotlightpreview-posts {
    @include flex-display-row;
}
