#optionallinks-dp {
    @include flex-display-row;
    align-items: center;
    padding: 4px $button-action-padding;
    img {
        @include tiny-profile-photo;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 8px;
    }
    p {
        @extend %navbar-text;
    }
}

.optionallinks-actions {
    @include flex-display-row;
}
