#timelineprojectevent-with-image,
#timelineprojectevent-no-image {
    h2,
    h6,
    p {
        margin: 0;
    }
    h4 {
        padding: 16px 8px 8px 8px;
    }
    h6 {
        padding: 4px 8px 4px 8px;
        font-size: 14px;
        font-weight: 100;
    }
}

#timelineprojectevent-with-image {
 }

#timelineproject-meta {
    @include flex-display-row;
    padding: 4px;
    p {
        margin: 0;
    }
}

.timelineproject-meta-pursuit {
    @extend %label;
    background-color: $blue-400;
    margin: 4px;
}

.timelineproject-meta-status {
    background-color: $red-400;
    @extend %label;
    margin: 4px;
}

.timelineprojectevent-draft {
    background-color: $black-100;
    // color: $blue-900;
    // min-height: $project-event-height;
}

.timelineprojectevent-completed {
    background-color: $black-100;
    // color: $blue-100;
    min-height: $project-event-height;
    max-height: $project-event-height;
}

.timelineprojectevent-published {
    min-height: $project-event-height;
}

.timelineprojectevent-cover {
    height: 384px;
    max-height: 384px;
    width: 100%;
    object-fit: cover;
}
