.eventpreview-image-container,
.eventpreview-snippet-container {
    max-height: 128px;
    overflow: hidden;
   
}

.eventpreview-image-container {
    img {
        height: auto;
        width: 100%;
    }
}

.eventpreview-snippet-container {
    min-height: 124px;
    padding-left: 8px;
    padding-right: 8px;
}
