.welcome-description {
    @include flex-display-row;
    height: calc(100vh - 50px);
    p {
        margin: 0;
        color: $primary-text-color;
    }
}

.welcome-hero,
.welcome-side {
    @include flex-display-column;
    margin: auto;
    justify-content: center;
}

.welcome-hero-side {
    height: 100%;
    width: 35%;
    margin-left: 25px;
    margin-right: 100px;
    button {
        width: fit-content;
    }
}

.welcome-description-inner {
    width: 65%;
    font-size: $primary-medium-font-size;
    margin: auto 64px;

    h4, p{ 
        font-weight: 100;
    }
    h2{
        font-size: 32px;
        font-weight: 300;
    }
    h4{
        font-size: 18px;
    }
    p{
        color: $black-500;
    }
}
