#metastage {
}

#metastage-title {
    margin: 16px auto;
    text-align: center;
}

#metastage-lower {
    margin-left: $small-post-draft-padding;
    margin-right: $small-post-draft-padding;
}

#metastage-desc {
    margin: 16px auto;
}

.metastage-nav {
    @include flex-display-row;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;

    button,
    button:hover {
        height: fit-content;
        @extend %button-style;
    }

    button:hover {
        @include default-button-hover;
    }
}

#metastage-prev {
    @include flex-left;
}

#metastage-next {
    @include flex-right;
}
