#shortpostinitial {
    @include flex-display-column;
}

#shortpostinitial-contents {
    margin-left: $small-post-draft-padding;
    margin-right: $small-post-draft-padding;
}

#shortpostinitial-title {
    text-align: center;
}

.shortpostinitial-nav {
    @include flex-display-row;

    p {
        margin: 0;
    }
}

.shortpostinitial-nav-button-disabled,
.shortpostinitial-nav-button-enabled,
.shortpostinitial-nav-button-enabled:hover {
    height: fit-content;
    @extend %button-style;
}

.shortpostinitial-nav-button-disabled {
    @include default-button-disabled;
}

.shortpostinitial-nav-button-enabled:hover {
    @include default-button-hover;
}

#shortpostinitial-title {
    width: 50%;
    margin: 16px auto;
}

#shortpostinitial-input {
    width: 100%;
}

#shortpostinitial-discard {
    @include flex-left;
}

#shortpostinitial-review {
    @include flex-right;
}
